<div class="row">
  <div class="col-md-10 mx-auto mt-4"> <!--EJEMPLO-->
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">CLIENTES</h1>
        <hr class="my-3">
          <div class="scroll">
              <div class="card border-dark mb-3" style="max-width: 18rem; float: left; margin-left: 2rem;" *ngFor="let a of datos">
                <div class="card-header ">
                <img style="height: 200px; width: 80%; display: block; margin: 10px auto;" src="" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title text-center">{{a.name}}</h4>
                  <hr class="my-3">
                  <p class="card-text text-justify">{{a.description}}</p>
                </div>
                </div>
                <button type="button" class="btn btn-outline-primary" (click)="verificar3()">Información</button>
          </div>
        </div>
          <br>      
        </div>
        <hr class="my-3">
        <button type="button" class="btn btn-primary" (click)="verificar()">
            <i class="fa fa-plus-circle"></i> Añadir Clientes</button>
      </div>
    </div>
  </div>
<br>






