.cartas{
    width: 93rem;
    padding: 0.5rem;
    max-height: 34rem;
    height: 35rem;
    max-width: 95rem;
}

.scroll{
    //white-space: nowrap; 
    max-height: 34rem;
    overflow: auto;
    display: inline-block;
}