<div class="row">
  <div class="col-md-12 mx-auto mt-4">
    <div class="card">
      <div class="card-body" align="center">
        <h1 class="text-center">INFORMACION DEL CLIENTE</h1>
        <hr class="my-4">
        <div class="jumbotron">
        </div>
        <hr class="my-4">
        <div class="card-body" align="center">
        <button type="button" class="btn btn-primary btn-lg" style="width: 40%;" (click)="verificar2()">
          <i class="fa fa-cart-plus">  Productos</i></button><br><br>
        <button type="button" class="btn btn-primary btn-lg" style="width: 40%;" (click)="verificar()">
          <i class="fa fa-user-circle">  Solicitantes</i></button><br><br>
        <button type="button" class="btn btn-primary btn-lg" style="width: 40%;" (click)="verificar3()">
          <i class="fa fa-user">  Aprobadores</i></button>
        <hr class="my-4">
      </div>
      </div>
    </div>
  </div>
</div>
