<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center mt-1">SOLICITUD</h1>
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label mt-4">Solicitante:</label>
            <div class="col-sm-10">
              <input class="form-control mt-4" id="disabledInput" type="text" placeholder="Alejandro Hernández" disabled="">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label mt-4">Fecha:</label>
            <div class="col-sm-10">
              <input class="form-control mt-4" id="disabledInput" type="text" placeholder="26/11/2018" disabled="">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label mt-4">Programa:</label>
            <div class="col-sm-10">
              <input class="form-control mt-4" id="disabledInput" type="text" placeholder="Monitor" disabled="">
            </div>
          </div>
          <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label mt-4">Descripcion:</label>
              <div class="col-sm-10">
                <input class="form-control mt-4" id="disabledInput" type="text" placeholder="Modificacion en algunos aspectos" disabled="">
              </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label mt-4">Comentario:</label>
                <div class="col-sm-10 mt-4">
                    <textarea class="form-control" id="exampleTextarea" rows="3" style="height: 116px;"></textarea>
                </div>
              </div>
          <button type="button"  class="btn btn-success btn-block btn-lg" (click)="verificar()"> <i class="fa fa-check-square-o"> APROBAR</i></button>
          <button type="button"  class="btn btn-primary btn-block btn-lg" (click)="verificar()"> <i class="fa fa-minus-circle">     DENEGAR</i> </button>
        </form>
      </div>
    </div>
  </div>
</div>