<div class="row">
  <div class="col-md-10 mx-auto mt-4">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">PRODUCTOS</h1>
        <hr class="my-3">
        <form>
          <br>
          <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header text-center">
              <img style="height: 200px; width: 80%; display: block; margin: 10px auto;" src="https://image.freepik.com/vector-gratis/letra-m-logo-template_23987-62.jpg" alt="Card image">
              </div>
              <div class="card-body">
                <h4 class="card-title">Monitor</h4>
                <p class="card-text">se basa en el monitoreo transaccional de las operaciones financieras y no financieras en todos los canales, con una visión holística del cliente sin importar en que canal se realice la transacción.</p>
              </div>
              <button type="button" class="btn btn-outline-primary" (click)="verificar3()">Información</button>
            </div>
            <hr class="my-3">
            <button type="button" class="btn btn-primary" (click)="verificar2()">
                <i class="fa fa-chevron-circle-left  "></i> Volver</button>
            <button style="margin-left: 10px;" type="button" class="btn btn-primary" (click)="verificar()">
              <i class="fa fa-plus-circle"></i> Añadir Productos</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>

