<div class="row">
  <div class="col-md-11 mx-auto mt-4">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">APROBADORES</h1>
        <hr class="my-3">
        <form>
          <br>
          <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header text-center">
              <img style="height: 200px; width: 80%; display: block; margin: 10px auto;" src="https://png.pngtree.com/png_detail/18/09/10/pngtree-bow-tie-man-png-clipart_2715352.jpg" alt="Card image">
              </div>
              <div class="card-body">
                <h4 class="card-title">Oscar Rodriguez</h4>
                <p class="card-text">Persona la cual es la indicada para poder aceptar y denegar las solicitudes que los solicitantes han ingresado.</p>
              </div>
            </div>
            <hr class="my-3">
            <button type="button" class="btn btn-primary" (click)="verificar2()">
                <i class="fa fa-chevron-circle-left  "></i> Volver</button>
            <button style="margin-left: 10px;" type="button" class="btn btn-primary" (click)="verificar()">
              <i class="fa fa-plus-circle"></i> Añadir Aprobadores</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
